#include "xil_io.h"

//TODO: have this filled in by code generator
#define MEMORY_BUFFER_ADDRESS 0x40200000
#define DATA_OFFSET 0x100

void watch_mem_buffer(){
{{ return_values }}
  unsigned int function;
  int i;
  //while true, check for the function
  while(1){
    // Check if a ready signal is set
    //TODO: use this register with a bitmask for more data?
    if(Xil_In32(MEMORY_BUFFER_ADDRESS + 0x70) == 0){
      continue;
    }
    function = Xil_In32(MEMORY_BUFFER_ADDRESS + 0x60);
    switch(function){
{{ case_statements }}
      default :
        continue;
    }
  }
}
